<!-- Render navigation bar along all the pages -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/"><!--img src="{{url_for('static', filename='')}}"-->Code Monkey Search</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/crawler">Crawler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
